#main-area
	.well.well-large
		%h4 Welcome to SeRa
		%div You can start by:
		%ul 
			%li Defining Configuration Settings
			%li Creating & defining Object Repositories
			%li Creating Test Suites
			%li Defining Test steps and functions
			%li Queuing tests for execution
			%li Executing tests
			%li Analyzing test results