<%= render 'layouts/flash' %>
<div class='hero-unit'>
	<div class="text-center">
		<h1 style="color: #336699;">On-Demand Automation Testing Framework</h1>
		<h2>Using <span style="color: #cc0000;">Se</span>lenium on <span style="color: #cc0000;">Ra</span>ils</h2>
	</div>
</div>
<%= image_tag('sel-logo.png', class: 'block1') %>
<%= image_tag('rails-logo.png', class: 'block2') %>
<br><br><br><br>
<script>
	$( ".block1" ).animate({
		left: ($(window).width()/2 - 100)
		}, 1000, "linear", function() {
			$(".block1").hide();
	});
	$( ".block2" ).animate({
		right: ($(window).width()/2 - 100)
		}, 1000, "linear", function() {
		$(".block2").hide();
	});
</script>