.span3
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a{"data-toggle" => "tab", :href => "#ViewLogin"} Login Test Suite
    %li
      %a{"data-toggle" => "tab", :href => "#ViewMessage"} Messages Test Suite
    %li
      %a{"data-toggle" => "tab", :href => "#ViewXyz"} XYZ Test Suite
.span9
  .tab-content
    #ViewLogin.tab-pane.active
      Placeholder for viewing create data for test suites 1
    #ViewMessage.tab-pane
      Placeholder for viewing create data for test suites 2
    #ViewXyz.tab-pane
      Placeholder for viewing create data for test suites 3
