<h3>Test Data Management</h3>
<div class="row-responsive">
	<div class="span2">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#ViewData" data-toggle="tab">View Data</a></li>
			<li><a href="#CreateData" data-toggle="tab">Create Data</a></li>
		</ul>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="tab-pane active" id="ViewData">
				<%= render 'view_data' %>
			</div>
			<div class="tab-pane" id="CreateData">
				<%= render 'create_data' %>
			</div>
		</div>
	</div>
</div>