$('#page_select').html("#{escape_javascript(options_for_select(@pages))}");
$('#page_select').prop('disabled', false);
$('#element_select').find('option').remove().end();
$('#element_select').prop('disabled', true);
$('#function_select').find('option').remove().end();
$('#function_select').prop('disabled', true);
