$('#element_select').html("#{escape_javascript(options_for_select(@elements))}");
$('#element_select').prop('disabled',false);
$('#function_select').prop('disabled',true);
$('#function_select').find('option').remove().end();
