%ul#list_options.nav.nav-list.nav-stacked
  %li.divider
  - ObjectRepository.all.each do |o|
    %li.active-cust= link_to raw("#{o.name}<i class='icon-chevron-right pull-right'></i>"), object_repository_path(o), :remote => true, id: "list_option_#{o.id}"
