<div class="row-fluid">
	<div class="span2">
	  <ul class="nav nav-pills nav-stacked bs-docs-sidenav affix">
	    <li><%= link_to "Create OR", new_object_repository_path(@object_repository, :format => :js),:remote => true, :id => 'new_object_repository_link' %></li>
	    <li id="view_or_tab">
	    	<%= link_to "View OR", object_repositories_path(:format => :js),:remote => true, :id => 'view_object_repository_link' %>
	    	<li id="view_or_tab_list">
	    		<div id="list_options"></div>
	    	</li>
	    </li>
	  </ul>
	</div>
	<div class="span10">
	  <div id="tab-content" class="well well-large">
	    <div id="display-area" class="row-fluid">
	    	You can create and manage your Object Repositories and Web Elements over here!
	    </div>
	  </div>
	</div>
</div>