$("#notice").replaceWith("#{escape_javascript render('layouts/flash')}");
$("#list_options").replaceWith("#{escape_javascript render('object_repositories/list')}");
$("#display-area").replaceWith("#{escape_javascript render(file: 'object_repositories/show.html.haml')}");
