#tab-content
	.row-fluid
		%span.label.label-info Available Reports:
	%br
	%table.table.table-bordered.table-hover
		%tr.info
			%td Report Name
			%td Test Suite Name
			%td Test Name
			%td Last Run
		- @reports.each do |r|
			%tr
				%td= link_to r.name, report_show_path(name: r.name), remote: true
				%td= TestSuite.find(r.test_suite_id).name
				%td= Test.find(r.test_id).name
				%td= r.last_run.strftime('%d-%m-%Y at %H:%M:%S')