.row-fluid
  #menu-tab.span2
    %ul.nav.nav-pills.nav-stacked.bs-docs-sidenav.affix
      %li= link_to "Create Test Suites", new_test_suite_path(@test_suite, :format => :js), remote: true, id: 'createTS_link'
      %li= link_to "View Test Suites", test_suites_path(:format => :js), remote:true, id:'viewTS_link'
      %li
        #ts-list-options
  .span10
    #display-tab.well
      #tab-content
        You can create and manage your test suites, tests and test steps over here!
