$('#status').replaceWith("<a id='status' data-toggle='tooltip' title='Executing Test Step'><img src='#{escape_javascript image_url('executing.gif')}' /></a>");
$("#exec_#{@test_id}").replaceWith("<a id='exec_#{@test_id}' data-toggle='tooltip' title='Executing Test Step'><img src='#{escape_javascript image_url('step.gif')}' /></a>");