// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav {
    width: 225px;
}
.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 4px #111;
    margin: 22px 0 0;
    width: 220px;
}
.dropdown {
    margin-bottom: 7px;
}
.nav-pills > li > a {
	margin: 5px 5px 5px 5px;
}
.well{
	padding: 10px 15px  15px;
    margin-left: 10px;
}
.table{
	background: #fff;
}
.nav-list {
    margin-left:5px;
}
.block1{
    position: absolute;
    left: 50px;
}
.block2{
    position: absolute;
    padding-top:10px;
    right: 0px;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
    background-color: #8a0707;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #0088CC;
    color: #FFFFFF;
}

.nav > li > a:hover, .nav > li > a:focus {
    color:#111;
}