// Place all the styles related to the ObjectRepositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu-bar {
	border-radius: 3px;
	background: #D9EDF7;
	line-height: 20px;
    padding: 8px 0px 8px 8px;
    color: #0088CC;
}