// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form_signin {
	padding: 6px;
	margin: 0px;
	line-height: 22px;
}
#email, #password
{
	padding: 3px;
	margin: 0px;
	line-height: 22px;
	width: 150px;
}
#btnSignin
{
	background: none repeat scroll 0 0 #333333;
    border-radius: 4px;
    border-color: #333333;
    border-style: solid;
    border-width: 1px;
    color: #eee;
    cursor: pointer;
    font-size: 14px;
    line-height: 10px;
    height: 20px;
    margin-bottom: 0;
    padding: 3px 7px;
}
#btnSignin:hover {
	background: #8A0707;
}