// Place all the styles related to the TestSuite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-custom {
	padding: 5px 0px 0px 10px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 5px;
}
.active-cust {
    margin-bottom: 7px;
}
