// Place all the styles related to the test_step controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label, .badge {
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.label-info {
    background-color: #3A87AD;
}
.label-success, .badge-success {
    background-color: #468847;
}
.label {
    border-radius: 3px;
}