$('#status').replaceWith("<a id='status' data-toggle='tooltip' title='Job Run in Progress'><img src='#{escape_javascript image_url('executing.gif')}' /></a>");
$("#exec_st_#{@test_step_id}").replaceWith("<span id='exec_st_#{@test_step_id}'><a data-toggle='tooltip' title='Executing Job'><img src='#{escape_javascript image_url('step.gif')}' /></a></span>");