%ul.nav.nav-list.nav-stacked#rep-list-options
	%li.divider
	- @rep = Report.select('max(reports.id), reports.name, max(created_at) as last_run, max(job_id) as job_id').where(user_id: current_user.id).group('name').order('last_run DESC').to_a
	- @rep.each do |r|
		%li.dropdown
			= link_to raw("#{r.name}<i class='icon-chevron-right pull-right'></i>"), queue_show_report_path(job_id: r.job_id), remote: true